body {
    background-color: black;
    color: beige;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    text-align: center;
    vertical-align: center;
}

button {
    background-color: black;
    color: rgb(16, 151, 16);
    border-radius: 8px;
    border-color: rgb(16, 151, 16);
    font-size: 130%;
}
button:hover {
    border-color: blue;
    color: blue;
}
table {
    width: 90%;
    margin: auto;
    color: rgb(16, 151, 16);
    border-color: rgb(16, 151, 16) ;
}
