body {
    background-color: black;
    color: beige;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    text-align: center;
    vertical-align: center;
}

select {
    background-color: black;
    color: rgb(16, 151, 16) ;
    border-radius: 5px;
    cursor: pointer;
}



input[type="text"]{
    /* Border*/
    border-radius: 20px;
    border-color: rgb(16, 151, 16);
    /* End Border */
    height: 15px;
    width: 60%;
    max-width: 500px;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: black;
    color: white;
    align-items: center;
}

input[type="checkbox"]{
    transform: scale(1.5);
}

/* Button */
button {
    background-color: black;
    color: rgb(16, 151, 16);
    border-radius: 8px;
    border-color: rgb(16, 151, 16);
    font-size: 130%;
}
button:hover {
    border-color: blue;
    color: blue;
    cursor: pointer;
}

.Submit{
    margin: auto 80% ;
    margin-top: 6px;
    padding: 6px 8px;
}
.col_Sup {
    text-align: center;
}
#select_all{
    margin-top: 6px;
    padding: 6px 8px;
}
/* End Button */

table {
    width: 90%;
    margin: auto;
    color: rgb(16, 151, 16);
    border-color: rgb(16, 151, 16) ;
    border-radius: 10px;
}
