@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Rufina:wght@400;700&display=swap');

body {
    background-color: rgb(40, 9, 68); 
    color: rgb(184, 179, 171);
    margin: 0;
    font-family: 'Rufina', serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #1b0730;
    border-bottom: 2px solid #F67D00;
}

.Bungee_orders {
    font-family: 'Bungee', cursive;
    color: #ff8c1a;
    margin: 10px 0;
}


.Bungee_deliveries{
    font-family: 'Bungee', cursive;
    color: #22B35A;
    margin: 10px 0;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}


.board_orders {
    flex: 1;
    background-color: #1b0730;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid #ff8c1a;
    min-height: 400px;
}

.board_deliveries {
    flex: 1;
    background-color: #1b0730;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid #22B35A;
    min-height: 400px;
}


.card_orders {
    background-color: #280944;
    border: 1px solid #140620;
    border-left: 6px solid #ff8c1a;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card_deliveries {
    background-color: #280944;
    border: 1px solid #140620;
    border-left: 6px solid #22B35A;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-id_orders {
    font-weight: bold;
    color: #ff8c1a;
}

.order-id_deliveries {
    font-weight: bold;
    color: #22B35A;
}

.order-id_time{
    font-weight: bold;
    color: #FFFFFF;
}


.btn-action_orders {
    background-color: #ff8c1a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Rufina';
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}
.btn-action_deliveries {
    background-color: #22B35A;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Rufina';
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-action:hover {
    transform: scale(1.05);
    background-color: #ff8c1a;
}

.status-label {
    font-style: italic;
    color: #aaa;
    text-align: right;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
