:root {
    --bg-color: #121212;
    --card-bg: #202020;
    --accent-color: #f4c542; 
}


body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.input-group {
    margin-bottom: 15px; 
    text-align: left;    
}


.input-group label {
    display: block;      
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px; 
}

.login-card {
    background-color: var(--card-bg);
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}


.logo-box {
    margin-bottom: 10px;
}

.site-logo {
    width: 300px; 
    height: auto;
}

h2 {
    color: white;
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background: #333;
    border: 1px solid #444;
    color: white;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

input:focus {
    border-color: #666;
}

.form-helper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #aaa;
    margin-bottom: 25px;
}

.form-helper a { color: white; }

.main-btn {
    width: 100%;
    padding: 16px;
    background-color: #410a69; 
    color: white;              
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s; 
}


input[type="date"] {
    color-scheme: dark; 
}


.main-btn:hover {
    background-color: #8a2be2; 
}

.toggle-text {
    margin-top: 25px;
    color: #aaa;
    font-size: 13px;
}

.toggle-text a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}



input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color-scheme: dark; 
}


input[type="text"], 
input[type="date"], 
input[type="email"], 
input[type="password"] {
    width: 100%;
    padding: 12px;
    background-color: #333; 
    border: 1px solid #444;
    border-radius: 4px;
    color: white;
    margin-top: 5px;
}

.form-title {
    font-size: 24px;
    font-weight: 800; 
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.subtitle {
    font-size: 14px;
    color: #aaaaaa; 
    margin-bottom: 25px;
    line-height: 1.4;
}


.terms-group {
    margin: 20px 0;
    text-align: left; 
}

.terms-group .checkbox-label {
    font-size: 13px;
    color: #ccc;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}


.login-wrapper {
    animation: fadeIn 0.6s ease-out;
}

